# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info
*.tsbuildinfo

# System files
.DS_Store

# Miscellaneous
*.local

# Cypress specific
/cypress/videos/
/cypress/screenshots/

# Ignore package-lock.json for yarn users (use if you're using Yarn)
package-lock.json

# Ignore .env files for environment-specific variables
.env
.env.local
.env.development
.env.test
.env.production

# Ignore temporary files from npm, yarn, etc.
.npm/
.yarn/

# Ignore configuration files for testing frameworks (e.g., Jest)
jest.config.js
